.idea
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
cmake-build-debug
cmake-build-debug/*

server/.idea
server/.idea/*
server/.idea/workspace.xml
server/.idea/tasks.xml
server/.idea/dictionaries
server/.idea/vcs.xml
server/.idea/jsLibraryMappings.xml
server/cmake-build-debug
server/cmake-build-debug/*